body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Cache la barre de défilement */
}

#hack-message {
    max-width: 600px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}
